{
  "overrides": [
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.jsx"],
      "trailingComma": "es5",
      "singleQuote": true
    }
  ]
}
