---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";

import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("pages", "history");
const { Content } = await entry.render();
const { title, description, meta_title } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
