<section class="section-sm bg-gradient" id="contact">
    <div class="container">
        <div class="row flex items-center justify-between">
            <div class="mb:md-0 mb-6 md:col-5 md:order-2">
                <div class="w-auto max-w-xl md:float-left">
                    <img class="rounded-2xl" src="/images/contact.webp" alt="Kontakt"/>
                </div>
            </div>
            <div class="md:col-7 lg:col-6 md:order-1 md:text-right">
                <h2 class="mb-4">Kontakt </h2>
                <p class="mb-4 text-lg">
                    Technisches Hilfswerk<br>
                    Ortverband Braunschweig<br>
                    1. Technischer Zug "Höhenrettung"<br>
                    Ludwig-Winter-Str. 11<br>
                    38120 Braunschweig<br>
                    <br>
                    <strong>Gruppenführung</strong><br>
                    Florian Immel<br>
                    Email: f.immel(at)onlinehome.de<br>
                </p>
            </div>
        </div>
    </div>
</section>
